<!-- 
    <app-contact _nghost-knr-c16=""><div _ngcontent-knr-c16="" class="mb-4"><div _ngcontent-knr-c16="" class="pt-3 conatiner"><app-star _ngcontent-knr-c16="" title="conatct section" customcolor="#2c3e50" _nghost-knr-c6=""><div _ngcontent-knr-c6="" class="text-center pt-4" style="color: rgb(44, 62, 80);"><h2 _ngcontent-knr-c6="" class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2><div _ngcontent-knr-c6="" class="d-flex align-items-center justify-content-center mb-3"><div _ngcontent-knr-c6="" class="line me-3" style="background-color: rgb(44, 62, 80);"></div><i _ngcontent-knr-c6="" class="fa-solid fa-star"></i><div _ngcontent-knr-c6="" class="line ms-3" style="background-color: rgb(44, 62, 80);"></div></div></div></app-star>
        <form _ngcontent-knr-c16="" novalidate="" action="" class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">
        <label _ngcontent-knr-c16="" for="userName" class="position-relative top-0 __top">userName : 

    </label>
        <input _ngcontent-knr-c16="" id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
        <label _ngcontent-knr-c16="" for="userAge" class="position-relative top-0 __top">userAge : 

    </label>
        <input _ngcontent-knr-c16="" id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid"><label _ngcontent-knr-c16="" for="userEmail" class="position-relative top-0 __top">userEmail : 

    </label>
        <input _ngcontent-knr-c16="" id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
        <label _ngcontent-knr-c16="" for="userPassword" class="position-relative top-0 __top">userPassword : </label>
        <input _ngcontent-knr-c16="" id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
        <button _ngcontent-knr-c16="" class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message 

    </button>
    </form>
    </div>
    </div>
    </app-contact>
 -->
<div class="contact d-flex justify-content-center align-items-center">
    <div class="pt-4">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder text-center">contact section</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3">

            </div>
            <i class="fa fa-star"></i>
            <div class="line ms-3">

            </div>
        </div>
        <form action="" class="w-100 p-3 mx-auto mt-5">

            <div class="d-flex flex-column-reverse">
                <input id="userName" type="text" placeholder="User Name" name="userName"
                    class="form-control border-0 py-3 position-relative">
                <label for="userName" class="position-relative top-0 __top">userName :</label>

            </div>

            <div class="d-flex flex-column-reverse">
                <input id="userAge" type="text" placeholder="User Age" name="userAge"
                    class="form-control border-0 border-bottom py-3 position-relative">
                <label for="userAge" class="position-relative top-0 __top">userAge :</label>

            </div>
            <div class="d-flex flex-column-reverse">
                <input id="userEmail" type="text" placeholder="User Email" name="userEmail"
                    class="form-control border-0 border-bottom py-3 position-relative">
                <label for="userEmail" class="position-relative top-0 __top">userEmail :</label>
            </div>
            <div class="d-flex flex-column-reverse">
                <input id="userPassword" type="text" placeholder="User Password" name="userPassword"
                    class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
                <label for="userPassword" class="position-relative top-0 __top">userPassword :</label>

            </div>
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message
            </button>
        </form>
    </div>
</div>