
<nav class="navbar navbar-expand-lg fixed-top py-2">
    <div class="container">
        <a class="navbar-brand text-white text-uppercase fw-bolder fs-2" routerLink="home">Start Framework</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
                <li class="nav-item me-3">
                    <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3" routerLink="about">About</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3" routerLink="portfolio">Portfolio</a>
                </li>
                <li class="nav-item me-3">
                    <a class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 rounded-3" routerLink="contact">Contact</a>
                </li>
            </ul>


        </div>
    </div>
</nav>