
<footer>
    <div class="container text-white text-center">
        <div class="row">
            <div class="col-md-4">
                <h3 class="fw-bold fs-3">LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4">
                <h3 class="fw-bold fs-3">AROUND THE WEB</h3>
                <div class="icons">
                    <i class="fa fa-facebook mx-1 icon"></i>
                    <i class="fa fa-twitter mx-1 icon"></i>
                    <i class="fa fa-linkedin mx-1 icon"></i>
                    <i class="fa fa-globe mx-1 icon"></i>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="fw-bold fs-3">ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
        <div class="p">
            <p>Copyright © Your Website 2024</p>
        </div>
    </div>
</footer>