<!-- 
    <app-about _nghost-knr-c7="">
        <div _ngcontent-knr-c7="" class="about text-white d-flex justify-content-center align-items-center">
            <div _ngcontent-knr-c7=""><app-star _ngcontent-knr-c7="" _nghost-knr-c6="">
                <div _ngcontent-knr-c6="" class="text-center pt-4" style="color: white;">
                    <h2 _ngcontent-knr-c6="" class="text-uppercase mb-3 fs-1 fw-bolder">about component</h2>
                    <div _ngcontent-knr-c6="" class="d-flex align-items-center justify-content-center mb-3">
                        <div _ngcontent-knr-c6="" class="line me-3" style="background-color: white;">

                        </div><i _ngcontent-knr-c6="" class="fa-solid fa-star"></i>
                        <div _ngcontent-knr-c6="" class="line ms-3" style="background-color: white;">

                        </div>
                    </div>
                </div>
            </app-star>
            <div _ngcontent-knr-c7="" class="container">
                <div _ngcontent-knr-c7="" class="row px-5">
                    <div _ngcontent-knr-c7="" class="col-md-6 ps-md-5">
                        <p _ngcontent-knr-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                    </div>
                    <div _ngcontent-knr-c7="" class="col-md-6 pe-5">
                        <p _ngcontent-knr-c7=""> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. 

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-about>
 -->
<div class="about text-white d-flex justify-content-center align-items-center">
    <div class="text-center pt-4">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">about component</h2>
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="line me-3">

            </div>
            <i class="fa fa-star"></i>
            <div class="line ms-3">

            </div>
        </div>
        <div class="container">
            <div class="row px-5">
                <div class="col-md-6 ps-md-5">
                    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                </div>
                <div class="col-md-6 pe-5">
                    <p> Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. 

                    </p>
                </div>
            </div>
        </div>


    </div>

</div>